<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<body>
	<div layout:fragment="content">
		<form id="form" method="get" th:object="${filter}" th:action="@{/cliente/search}">
			<input type="hidden" id="searchType" name="searchType" th:field="*{searchType}" />
			<div>
				<h1>É hora de rangar!</h1>
					<fieldset>
						<input type="text" name="text" th:field="*{texto}" placeholder="Buscar por...">
						<input type="button" onclick="searchRest(null);" value="Procurar">
					</fieldset>
				<br />
			</div>
		
			<div id="divCategoriasComidaGeral">
				<input type="hidden" name="categoriaId" th:field="*{categoriaId}" />			
				<div id="divCategoriasComidaOpcao" th:each="categoria: ${categorias}">
					<a href="#" th:onclick="'searchRest(\'' + ${categoria.id} + '\');'">
						<img th:src="@{/categoria/img/} + ${categoria.imagem}" id="imgCategoriaComida"><br />
						<span th:text="${categoria.nome}"></span>
					</a>
				</div>
			</div>
		</form>
		
		<div>
			<h1>Últimos pedidos</h1>
			
			<div th:each="pedido: ${pedidos}">
				<input type="button" th:value="${pedido.formattedId} + ' ' + ${pedido.restaurante.nome}" th:onclick="'window.location.href = \'' + @{/cliente/pedido/view} + '?pedidoId=' + ${pedido.id} + '\''" /><br />
			</div>
			
			<div th:if="${pedidos.size() == 0}">
				<span>Não existe nenhum pedido anterior</span>
				<br /><br />
			</div>
		</div>
		
		<div>
			<h1>Conta</h1>
			<input type="button" value="Meus dados" th:onclick="'window.location.href = \'' + @{/cliente/edit} + '\''" />
			<input type="submit" value="Sair" th:onclick="'window.location.href = \'' + @{/logout} + '\''" />
		</div>
	</div>
</html>

