<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<body>
	<div layout:fragment="content">
		<div>
			<img th:src="@{/cliente/img/} + ${restaurante.logotipo}" id="imgRestauranteBusca" /><br /><br />
			<span id="restauranteOpcaoTitulo" th:text="${restaurante.nome}"></span><br />
			<span id="restauranteOpcaoCategoria" th:text="${restaurante.categoriasAsText}"></span><br />
			<span id="restauranteOpcaoTempo" th:text="'Tempo de entrega: ' + ${restaurante.calcularTempoEntrega(cep)} + ' min'"></span><br />
			<span id="restauranteOpcaoTaxa" th:text="'Taxa de entrega: ' + ${#numbers.formatCurrency(restaurante.taxaEntrega)}"></span><br />
		</div>

		<div>
			<h1>Opções</h1>
			<form id="filterForm" method="get" th:action="@{/cliente/restaurante}">
				<input type="hidden" id="categoria" name="categoria" />
				<input type="hidden" name="restauranteId" th:value="${restaurante.id}" />
				<fieldset id="fieldsetFiltros">
					<legend>Filtros</legend>
					<div style="display: inline;" th:each="categoria : ${categorias}">
						<input 
							th:id="${categoriaSelecionada == categoria} ? 'inputSelecionado' : ''" 
							type="button" 
							th:value="${categoria}"
							th:data-categoria="${categoria}" 
							onclick="filterCardapio(this.getAttribute('data-categoria'));" />
					</div>
				</fieldset>
			</form>
			<br />
		</div>
		
		<div>
			<h1>Destaques</h1>
		</div>
		
		<div id="divCategoriasComidaGeral" th:each="itemCardapio : ${itensCardapioDestaque}" style="margin-top: 20px;">
			<div id="divRestaurantesOpcao">
				<img th:src="@{/cliente/img/comida/} + ${itemCardapio.imagem}" id="imgRestauranteOpcao" /><br />
				<span id="restauranteOpcaoTitulo" th:text="${itemCardapio.nome}"></span><br />
				<span th:text="${itemCardapio.descricao}"></span><br />
				<span th:text="${#numbers.formatCurrency(itemCardapio.preco)}"></span><br /><br />
				<form method="get" th:action="@{/cliente/carrinho/adicionar}">
					<input type="hidden" name="restauranteId" th:value="${restaurante.id}" />
					<label for="quantidade">Quantidade: </label>
					<select name="quantidade" id="quantidade">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select><br /><br />
					<input type="submit" value="Adicionar ao carrinho" />
				</form>
			</div>
		</div>
		<div th:if="${itensCardapioDestaque.size() == 0}">
			<span>Não existem itens em destaque</span>
		</div>
		<br /><br />

		<div>
			<h1>Menu</h1>
		</div>
		
		<div id="divCategoriasComidaGeral" th:each="itemCardapio : ${itensCardapioNaoDestaque}" style="margin-top: 20px;">
			<div id="divRestaurantesOpcao">
				<img th:src="@{/cliente/img/comida/} + ${itemCardapio.imagem}" id="imgRestauranteOpcao" /><br />
				<span id="restauranteOpcaoTitulo" th:text="${itemCardapio.nome}"></span><br />
				<span th:text="${itemCardapio.descricao}"></span><br />
				<span th:text="${#numbers.formatCurrency(itemCardapio.preco)}"></span><br /><br />
				<form method="get" th:action="@{/cliente/carrinho/adicionar}">
					<input type="hidden" name="restauranteId" th:value="${restaurante.id}" />
					<label for="quantidade">Quantidade: </label>
					<select name="quantidade" id="quantidade">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select><br /><br />
					<input type="submit" value="Adicionar ao carrinho" />
				</form>
			</div>
		</div>

		<br /><br />
		<input type="button" value="Voltar" onClick="window.history.back();" />

	</div>
</body>
</html>

