<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<body>
	<div layout:fragment="content">
		<form id="form" method="get" th:object="${filter}" th:action="@{/cliente/search}">
			<input type="hidden" id="searchType" name="searchType" th:field="*{searchType}" />
			
			<div>
				<h1>É hora de rangar!</h1>
				<fieldset>
					<input type="text" name="text" th:field="*{texto}" placeholder="Buscar por...">
					<input type="button" onclick="searchRest(null);" value="Procurar">
				</fieldset>
				<br />
			</div>
			
			<div id="divCategoriasComidaGeral">
				<input type="hidden" name="categoriaId" th:field="*{categoriaId}" />			
				<div id="divCategoriasComidaOpcao" th:each="categoria: ${categorias}">
					<a href="#" th:onclick="'searchRest(\'' + ${categoria.id} + '\');'">
						<img th:src="@{/categoria/img/} + ${categoria.imagem}" id="imgCategoriaComida"><br />
						<span th:text="${categoria.nome}"></span>
					</a>
				</div>
			</div>
	
			<div>
				<h1>Resultados</h1>
				
				<fieldset id="fieldsetFiltros">
					<legend>Filtros</legend>
					<input type="button" value="Entrega grátis" th:id="*{entregaGratis} ? 'inputSelecionado' : ''" onclick="setCmd('entregaGratis')" /><br />
				
					<input type="button" value="Maior taxa" th:id="*{order.name()} == 'TAXA' and !*{asc} ? 'inputSelecionado' : ''" onclick="setCmd('maiorTaxa')" />
					<input type="button" value="Menor taxa" th:id="*{order.name()} == 'TAXA' and *{asc} ? 'inputSelecionado' : ''" onclick="setCmd('menorTaxa')" /> <br />
					
					<input type="button" value="Maior tempo" th:id="*{order.name()} == 'TEMPO' and !*{asc} ? 'inputSelecionado' : ''" onclick="setCmd('maiorTempo')"/>
					<input type="button" value="Menor tempo" th:id="*{order.name()} == 'TEMPO' and *{asc} ? 'inputSelecionado' : ''" onclick="setCmd('menorTempo')" /> <br />
					
					<input type="hidden" id="entregaGratis" th:field="*{entregaGratis}" />
					<input type="hidden" id="order" th:field="*{order}" />
					<input type="hidden" id="asc" th:field="*{asc}" />
					<input type="hidden" id="cmd" name="cmd" />
				</fieldset>
				<br />
			</div>
			
			<div id="divCategoriasComidaGeral">
				<div id="divRestaurantesOpcao" th:each="restaurante: ${restaurantes}">
					<a href="#" th:onclick="'window.location.href = \'' + @{/cliente/restaurante} + '?restauranteId=' + ${restaurante.id} + '\''">
						<img th:src="@{/cliente/img/} + ${restaurante.logotipo}" id="imgRestauranteOpcao" /><br />
						<span id="restauranteOpcaoTitulo" th:text="${restaurante.nome}"></span><br />
						<span th:text="${restaurante.categoriasAsText}"></span><br />
						<span th:text="'Tempo de entrega: ' + ${restaurante.calcularTempoEntrega(cep)} + ' min'"></span><br />
						<span th:text="'Taxa de entrega: ' + ${#numbers.formatCurrency(restaurante.taxaEntrega)}"></span><br />
					</a>
					<br /><br />
				</div>
			</div>
			
			<div th:if="${restaurantes.size() == 0}">
				<span>Nenhum restaurante encontrado</span>
				<br /><br />
			</div>
		</form>
		
		<br />
		
		<input type="button" value="Voltar" th:onclick="'window.location.href = \'' + @{/cliente/home} + '\''" />
	</div>
</body>
</html>

