<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" th:with="link=@{/cliente/home}">

<body>
	<div layout:fragment="content">
		<div id="mensagemDeErro" th:if="${msg != null}">
			<span th:text="${msg}"></span><br />
		</div>
			
		<div>
			<h1>SEU PEDIDO</h1>
			<img th:src="@{/images/logotipo/} + ${carrinho.restaurante.logotipo}" id="imgRestauranteBusca" /><br /><br />
		</div>
		<br /><br />

		<div th:each="item : ${carrinho.itens}">
			<span id="restauranteOpcaoTitulo" th:text="${item.itemCardapio.nome}"></span><br />
			<span id="restauranteOpcaoTaxa" th:text="'Qtd: ' + ${item.quantidade}"></span><br />
			<span id="restauranteOpcaoTaxa" th:text="${item.observacoes}"></span><br />
			<span id="restauranteOpcaoTaxa" th:text="${#numbers.formatCurrency(item.preco)}"></span><br /><br />
			<input type="button" value="Remover" th:onclick="'window.location.href=\'' + @{/cliente/carrinho/remover} + '?itemId=' + ${item.itemCardapio.id} + '\''" />
			<br /><br />
		</div>
		
		<div th:if="${carrinho.itens.size() == 0}">
			<span>O carrinho não possui itens</span>
			<br /><br />
		</div>
		
		<div th:if="${carrinho.itens.size() > 0}">
			<div>
				<span id="restauranteOpcaoTitulo">Taxa de entrega</span><br />
				<span id="restauranteOpcaoTaxa" th:text="'Taxa de entrega: ' + ${#numbers.formatCurrency(carrinho.restaurante.taxaEntrega)}"></span><br />
			</div>
			<br /><br />
			
			<div>
				<span id="restauranteOpcaoTitulo">Total</span><br />
				<span id="restauranteOpcaoTaxa" th:text="${#numbers.formatCurrency(carrinho.getPrecoTotal(true))}"></span>
			</div>
			<br /><br />
			
			<form method="post" th:action="@{/cliente/pagamento/pagar}">
				<div>
					<span id="restauranteOpcaoTitulo">Cartão de Crédito</span><br />
					<input name="numCartao" type="text" id="inputLargo" onkeypress="return isNumberKey(event);">
				</div>
				<br />
				
				<div>
					<input type="submit" value="Enviar pedido">
				</div>
			</form>
		</div>
	</div>
</body>
</html>

