<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<body>
	<div layout:fragment="content">
		<div>
			<img th:src="@{/images/bf_iconeUsuario.png}" id="imgIconeUsuario">
			<h1>Autenticação</h1>
			<form method="post" th:action="@{/login}">
				<fieldset>
					<input type="text" name="username" placeholder="E-mail..." />
					<input type="password" name="password" placeholder="Senha..." />
					<input type="submit" value="Entrar" />
				</fieldset>
			</form>
			<br />
			
			<div id="mensagemDeErro" th:if="${msg != null}">
				<span th:text="${msg}"></span><br />
			</div>
			
			<br />
			
			<form method="get" th:action="@{/public/cliente/new}">
			<input type="submit"
				value="Gostaria de criar a minha conta de cliente" />
			</form>
			<br />
			<form method="get" th:action="@{/public/restaurante/new}">
			<input type="submit"
				value="Gostaria de criar a minha conta de restaurante" />
			</form>
		</div>
	</div>
</body>
</html>
