<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" th:with="link=@{/restaurante/home}">

<body>
	<div layout:fragment="content">
		<div>
			<h1>Relatório de Pedidos</h1>
			<form method="get" th:object="${filter}" th:action="@{/restaurante/relatorio/pedidos}">
				<fieldset id="fieldsetFiltros">
					<legend>Filtros</legend>
					<label for="numero">Número: </label><br />	
					<input type="text" name="pedidoId" id="pedidoId" th:field="*{pedidoId}" /><br />
					<label for="inicio">Início: </label><br />	
					<input type="date" name="dataInicial" id="dataInicial" th:field="*{dataInicial}" /><br />
					<label for="fim">Fim: </label><br />	
					<input type="date" name="dataFinal" id="dataFinal" th:field="*{dataFinal}" /><br />
					<input type="submit" value="Buscar" />
				</fieldset>
			</form>
		</div>
		<br /><br />
		
		<div th:if="${pedidos.size() > 0}">
			<table>
				<tr>
					<th>Pedido</th>
					<th>Nome</th>
					<th>CEP</th>
					<th>Valor</th>
				</tr>
				<tr th:each="pedido : ${pedidos}">
					<td><input type="submit" th:value="${pedido.formattedId}" th:onclick="'location.href=\'' + @{/restaurante/pedido} + '?pedidoId=' + ${pedido.id} + '\';'" /></td>
					<td><span th:text="${pedido.cliente.nome}"></span></td>
					<td><span th:text="${pedido.cliente.formattedCep}"></span></td>
					<td><span th:text="${#numbers.formatCurrency(pedido.total)}"></span></td>
				</tr>
			</table>
		</div>
		
		<span th:if="${pedidos.size() == 0}">Nenhum pedido encontrado</span>
		
		<br /><br />

		<input type="button" value="Voltar" th:onclick="'location.href=\'' + @{/restaurante/home} + '\';'" />
	</div>
</body>
</html>

