<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" th:with="link=@{/restaurante/home}">

<body>
	<div layout:fragment="content">
		<div>
			<h1>Configurações</h1>
			<input type="submit" value="Dados básicos" th:onclick="'window.location.href = \'' + @{/restaurante/edit} + '\''" /><br />
			<input type="submit" value="Comidas" th:onclick="'location.href=\'' + @{/restaurante/comidas} + '\';'" /><br />
			<input type="submit" value="Relatório de Pedidos" th:onclick="'window.location.href = \'' + @{/restaurante/relatorio/pedidos} + '\''" /><br />
			<input type="submit" value="Relatório de Itens" th:onclick="'window.location.href = \'' + @{/restaurante/relatorio/itens} + '\''" /><br />
			<input type="submit" value="Sair" th:onclick="'window.location.href = \'' + @{/logout} + '\''" /><br />
		</div>
		
		<div>
			<h1>Pedidos em andamento</h1>
			<div th:each="pedido : ${pedidos}">
				<input type="submit" th:value="${pedido.formattedId}" th:onclick="'location.href=\'' + @{/restaurante/pedido} + '?pedidoId=' + ${pedido.id} + '\';'" /><br />
			</div>
		</div>
	</div>
</body>
</html>

